*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.detail-page{
    padding-top: 5vh;
    background: url(https://images.indianexpress.com/2020/04/books_759.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 3vh;
    height: 110vh;
}
#goBackBtn{
    background-color: #ff8000;
    width: 90%;
    margin-top: 15%;
    margin-left: 5%;
    
}
.book-div{
    background-color: var(--book);
    width: 80%;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    padding: 2vw;
    line-height: 4vh;
    box-shadow: rgba(0, 0, 0, 0.626) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.img_div{
    border-right: 1px solid #ddd;
    width: 30%;
    padding: 1vw 2vw;
    border-radius: 3px;
}
.detail_img{
    width: 100%;
    height: 50%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: none;
    border-radius: 5px;
}
.detail_img:hover{
    transform: perspective(400px) rotateY(-10deg);
    cursor: pointer;
}
.content_div{
    width: 70%;
    margin-left: 2vw;
    padding: 1vw;
}
em{
    font-size: medium;
    color: gray;
}
.basic_desc{
    
    padding-bottom: 1vh;
}
.info{  
    display: flex;
    justify-content: space-around;
    padding: 1vw;
    border-top: 1px solid rgb(94, 94, 94);
    border-bottom: 1px solid rgb(94, 94, 94);
    background-color: var(--infoDiv);
    border-radius: 3px;
}
.err{
    width: 60%;
    background-color: var(--errDiv);
    padding: 3vw;
    margin: auto;
    text-align: center;
    color: var(--errColor);
    margin-top: 15vh;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.err:hover{
    transform: perspective(400px) rotateY(8deg);

}
#goBackFromErr{
    background-color: #ff8000;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#goBackFromErr:hover{
    transform: scale(1.05);
}
.googleBtn{
    width: 90%;
}
@media only screen and (max-width: 650px) {
    .book-div{
        display: flex;
        flex-direction: column;
        width: 90%;
        line-height: 3.5vh;
        font-size: small;
    }
    .img_div{
        width: 90%;
        height: 30%;
        margin: auto;
        border: none;
    }
    .img_div>img{
        width: 60%;
        height: 90%;
        box-shadow: none;
        margin-left: 20%;
    }
    .content_div{
        width: 100%;
        height: 70%;
    }
}



/* ---------loader---------- */

#loader{
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 20%;
    margin: auto;
    text-align: center;
}
.overLay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(101, 101, 101, 0.305);
}